@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./rating.scss";

[x-cloak] {
    display: none;
}

@font-face {
    font-family: "Satoshi";
    src: url("../../public/Fonts/Satoshi-Variable.ttf") format("truetype-variations"),
    url("../../public/Fonts/Satoshi-VariableItalic.ttf") format("truetype-variations");
    font-weight: 100 1000;
  }

  * {
    font-family: "Satoshi";
  }

  .content-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;  }

  #gradient-changer {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 9s ease infinite;
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  }

